<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- <link rel="stylesheet" href="about.css"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}" /> -->

</head>
<body>
    <h1>About Us</h1>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <section>
        <h2>Who We Are</h2>
        <p></p>
    </section>

    <section>
        <h2>Our Mission</h2>
        <p>The Olchiki translator we envision will serve multiple purposes. First and foremost, it will empower the Olchiki-speaking community by allowing them to communicate more effectively with the wider world. The translation tool will facilitate seamless conversion of Olchiki text into various languages, breaking down language barriers and promoting inclusivity.
            Together, we can embrace linguistic diversity and safeguard the heritage of indigenous languages for generations to come.</p>
    </section>

    <section>
        <h2>Our Team</h2>
        <ul>
            <li>Debajit Adhikary - Backend + FrameWork</li>
            <li>Sanyukta Mishra - Frontend </li>
            <li>Tushar Mukhopadhyay - Frontend</li>
        </ul>
    </section>
</body>
</html>
